<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" type="text/css" href="./css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <style>
            [v-cloak] {
                display:none;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div class="container text-success">
                <form v-if="!submitted" class="mt-5">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control form-control-lg" v-model="email" :value="email">
                    </div>
                    <button type="submit" @click.prevent="process" class="btn btn-primary">
                        Submit
                    </button>
                </form>
                <h2 v-else v-cloak class="mt-5">
                    Thanks!
                </h2>
            </div>          
        </div>

        <script>
            var test = "Hello from Vue!";
            var vm = new Vue({
                el: "#app",
                data: {
                    email: "jonathan@jonathan.com",
                    submitted: false
                },
                methods: {
                    process: function(event) {
                        alert("Submitted: "+this.email);
                        this.submitted = true;
                    }
                }
            });
        </script>
    </body>

</html>